<div class="flex items-start gap-3 p-4 mb-4 rounded-md border {{#if (eq variant 'success')}}bg-green-50 border-green-200 text-green-800 dark:bg-green-900/20 dark:border-green-800 dark:text-green-300{{/if}}{{#if (eq variant 'danger')}}bg-red-50 border-red-200 text-red-800 dark:bg-red-900/20 dark:border-red-800 dark:text-red-300{{/if}}{{#if (eq variant 'warning')}}bg-yellow-50 border-yellow-200 text-yellow-800 dark:bg-yellow-900/20 dark:border-yellow-800 dark:text-yellow-300{{/if}}{{#if (eq variant 'info')}}bg-blue-50 border-blue-200 text-blue-800 dark:bg-blue-900/20 dark:border-blue-800 dark:text-blue-300{{/if}}{{#if (eq variant 'primary')}}bg-blue-50 border-blue-300 text-blue-900 dark:bg-blue-900/20 dark:border-blue-700 dark:text-blue-300{{/if}}{{#if (eq variant 'secondary')}}bg-gray-50 border-gray-200 text-gray-800 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-300{{/if}}"
  {{#if dismissible}}x-data="{ show: true }" x-show="show" x-transition{{/if}}
  role="alert">
  {{#if icon}}
  <i data-lucide="{{icon}}" class="w-5 h-5 flex-shrink-0 mt-0.5"></i>
  {{/if}}
  <div class="flex-1">
    {{#if title}}<p class="font-semibold">{{title}}</p>{{/if}}
    <p class="text-sm">{{{message}}}</p>
  </div>
  {{#if dismissible}}
  <button @click="show = false" class="flex-shrink-0 ml-auto opacity-70 hover:opacity-100">
    <i data-lucide="x" class="w-4 h-4"></i>
  </button>
  {{/if}}
</div>
